@import "../../../common/styles/mixins";

.loginPage {
  @include page();

  .container {
    @include container();

    .login {
      @include block(60px);

      .loginPageForm {
        h2 {
          @include title();
        }

        .linkForgot {
          display: block;
          text-decoration: none;
          color: inherit;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: right;
          margin-top: 10px;
        }

        .signUpContainer {

          .text {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            opacity: 0.5;
            margin-top: 30px;
          }

          .link {
            display: block;
            color: #366EFF;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            text-decoration-line: underline;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}