@import "../../../common/styles/mixins";

.registrationPage {
  @include page();

  .container {
    @include container();

    .register {
      @include block(60px);

      .registrationPageForm {
        h2 {
          @include title();
        }

        .signInContainer {

          .text {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            opacity: 0.5;
            margin-top: 30px;
          }

          .link {
            display: block;
            color: #366EFF;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            text-decoration-line: underline;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
