@import "../../../../../common/styles/mixins";

.search {
  flex-grow: 2;

  .searchTitle {
    @include subtitle();
  }
  .input {
    box-sizing: border-box;
    width: 90%;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
  }
}