@import '../../../../common/styles/mixins';

.userProfilePage {
    @include page();

    .container {
        @include container();

        .userProfile {
            @include block(0);

            h1 {
                @include title();
            }

            .avatar {
                position: relative;
                max-width: 96px;
                width: 100%;
                margin: 0 auto;

                .photoAvatar {
                    display: block;
                    margin: 30px auto 0;
                    max-height: 96px;
                    max-width: 96px;
                    width: 100%;
                    height: 100%;
                }
            }
            .email {
                @include note();
                text-align: center;
                margin-top: 14px;
            }
        }
    }
}
