@import "../../../common/styles/mixins";

.checkEmailPage {
  @include page();

  .container {
    @include container();

    .checkEmail {
      @include block(60px);

      .checkEmailPageForm {
        h2 {
          @include title();
        }

        .logoEmail {
          display: block;
          width: 108px;
          margin: 30px auto 0;
        }

        .text {
          @include note();
          margin-top: 30px;
          text-align: center;
        }

      }
    }
  }
}