@import "../../../../common/styles/mixins";

.options {
  display: flex;
  justify-content: space-around;
  background-color: lavender;

  .search {
    h3 {
      @include subtitle();
    }
  }

  .showPacksCards {
    h3 {
      @include subtitle();
    }
  }

  .numberOfCards {
    h3 {
      @include subtitle();
    }
  }
}