body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  background-color: #FFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}